@model UserBlogVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Editor/Views/Shared/_EditorLayout.cshtml";
}
<div class="container">
    <a class="btn btn-primary" asp-action="newblog" asp-controller="editor">Write A Blog</a>
</div>
<div class="container mt-2 ">
    <div class="row d-flex flex-row flex-wrap">
    @foreach (var blog in Model.Blogs)
    {
        <div class="card blog-card m-3" style="width: 18rem; max-height: 500px; position : relative; border: 2px solid @(blog.IsDeleted==true?"red":"green");">
            <!-- Example single danger button -->
            <div class="btn-group" style="position: absolute; left: 5px">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu bg-secondary">
                    <li ><a class="dropdown-item bg-dark fw-bold text-primary" asp-action="blogdetail" asp-controller="editor" asp-route-id="@blog.Id">Detail</a></li>
                        <li><a class="dropdown-item bg-dark fw-bold text-warning" asp-action="update" asp-controller="editor" asp-route-id="@blog.Id">Update</a></li>
                    @if (blog.IsDeleted)
                    {
                            <li><a class="dropdown-item bg-dark fw-bold text-success" asp-action="recoverblog" asp-controller="editor" asp-route-id="@blog.Id">Recover</a></li>
                    }
                    else{
                            <li><a class="dropdown-item bg-dark fw-bold text-danger" asp-action="deleteblog" asp-controller="editor" asp-route-id="@blog.Id">Delete</a></li>
                    }
                </ul>
            </div>
            <img style="width: 70%; height: 50%; align-self: center" src="~/images/blog/@blog.ImageUrl" class="card-img-top" alt="Blog image">
            <div class="card-body">
                <a asp-action="blogdetail" asp-controller="editor" asp-route-id="@blog.Id" class="text-dark" >
                    <h5 class="card-title">@blog.Title</h5>
                </a>
                @*<p class="card-text"  >@(Html.Raw(blog.Content.Substring(0,94)))...</p>*@
                <a asp-action="blogdetail" asp-controller="editor" asp-route-id="@blog.Id" class="btn btn-primary w-100">Open</a>
            </div>
        </div>
    }
    </div>
</div>