@model BlogVM
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post post-single">
                    <div class="post-thumb">
                        <img class="img-fluid w-100" src="~/images/blog/@Model.Blog.ImageUrl" alt="post-thumb">
                    </div>
                    <h2 class="post-title" id="post-title" data-id="@Model.Blog.Id">@Model.Blog.Title</h2>
                    <div class="post-meta">
                        <ul>
                            <li>
                                <i class="ti-calendar"></i> @Model.Blog.Date
                            </li>
                            <li>
                                <i class="ti-user"></i> POSTED BY @Model.Blog.Author
                            </li>
                            <li>
                                <i class="fa-solid fa-ribbon"></i>
                                    @foreach (var tag in Model.Blog.BlogSubjects)
                                    {
                                        <span style="color:cornflowerblue; font-size:120%">@tag.Subjects.Name </span>
                                    }
                            </li>
                            <li>
                                <i class="fa-solid fa-eye"></i> @Model.Blog.ViewCount
                            </li>
                            <li >
                                <i class="ti-comments"></i> <span id="cm-cnt">@Model.Blog.CommentCount</span> COMMENTS
                            </li>
                        </ul>
                    </div>
                    <div class="post-content post-excerpt mb-5">
                        @Html.Raw(Model.Blog.Content)
                    </div>
                    <div class="post-social-share mb-4">
                        <h4 class="post-sub-heading border-bottom pb-3 mb-3">Share this post</h4>
                        <div class="social-media-icons">
                            <ul class="list-inline social-icons">
                                <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="ti-vimeo-alt"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="ti-google"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="post-comments">
                        <h4 class="post-sub-heading border-bottom pb-3 mb-3">    <span id="comCount">@Model.Blog.CommentCount</span>    Comments</h4>
                        <ul class="media-list" id="comment-area">
                            @if (Model.Blog.Comments!=null)
                            {
                                @foreach (var comment in Model.Comments)
                                {
                                    <li style="border: 2px solid rgb(150,151,154); border-radius: 10px; padding: 10px" class="media mt-3 comment-box">
                                        <a href="#">
                                            @if (comment.AppUserId!=null)
                                            {
                                                <img class="img-fluid" src="~/images/profilepictures/@comment.User.ProfilePicture" alt="" width="50" height="50">
                                            }
                                            else{
                                                <img class="img-fluid" src="~/images/profilepictures/nophoto.jpg" alt="" width="50" height="50">
                                            }
                                        </a>
                                        <div class="media-body">
                                            <div class="comment-info">
                                                <div class="comment-author d-flex flex-row justify-content-between">
                                                    @if (comment.AppUserId!=null)
                                                    {
                                                        <a href="#">@comment.User.Fullname</a>
                                                    }
                                                    else{
                                                        <a href="#">@comment.Author <span class="text-danger">(Not a member)</span></a>
                                                    }
                                                    @if (ViewBag.RightCounter>0||(User.Identity.IsAuthenticated && comment.AppUserId == ViewBag.AppUserId))
                                                    {
                                                        <a class="text-danger mr-3 deleteComment" style="cursor: pointer" data-id="@comment.Id">Delete</a>
                                                    }
                                                </div>
                                                <time>@comment.Date.ToString("dddd, dd MMMM yyyy HH:mm:ss")</time>
                                                @*<a class="comment-button" href="#"><i class="ti-comments"></i>Reply</a>*@
                                            </div>
                                            <h3 class="mt-3">
                                                @comment.CommentContent <br>
                                                
                                            </h3>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                                @if (Model.Blog.CommentCount>10)
                        {
                            <div class="row d-flex justify-content-center mt-5 mb-5">
                                <button class="btn btn-danger w-25" id="loadmore" com-count="@Model.Blog.CommentCount" data-id="@Model.Blog.Id">Load More Comments</button>
                            </div>
                        }
                    </div>
                  @if (User.Identity.IsAuthenticated)
                    {
                        

                        <div class="post-comments-form" style="margin-top: 50px">
                            <h4 class="post-sub-heading mb-3" id="comment-title">Leave You Comment</h4>
                            
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <textarea id="comment-input" class="form-control" placeholder="Comment" ></textarea>
                                        <span class="text-danger" id="comment-warning"></span>
                                    </div>
                                    <!-- Send Button -->
                                    <div class="form-group col-md-12">
                                    <a class="btn btn-primary text-light" id="post-comment" data-id="@Model.Blog.Id">
                                            Post
                                        </a>
                                    </div>
                                </div>
                            
                        </div>
                    }
                    else{
                        <div class="post-comments-form" style="margin-top: 50px">
                            <h4 class="post-sub-heading mb-3" id="comment-title">Leave You Comments</h4>
                            
                                <div class="row">
                                    <div class="col-md-6 form-group">    
                                        <input id="comment-name" class=" form-control" placeholder="Name *">
                                        <span class="text-danger" id="name-warning"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                    <textarea id="comment-input" class=" form-control" placeholder="Comment"></textarea>
                                    <span class="text-danger" id="comment-warning"></span>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                    <a class="btn btn-primary text-light" id="post-comment" data-id="@Model.Blog.Id">
                                            Post
                                        </a>
                                    </div>
                                </div>
                            
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

