@model BlogDetailVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row d-flex flex-row wrap-nowrap">
        @foreach (var blog in Model.Blogs)
        {

            <div class="card m-3 custom-blog" style="width: 25rem;">
                <img style="width:250px" src="~/images/blog/@blog.ImageUrl" class="card-img-top align-self-center" alt="...">
                <div class="card-body">
                   <a class="text-dark text-decoration-none fw-bold" asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id">
                        <h3 class="card-title">@blog.Title</h3>
                   </a> 
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        @if (blog.BlogSubjects!=null)
                        {
                            foreach (var tag in blog.BlogSubjects)
                            {
                                <span style="color:rgb(58,110,253)">@tag.Subjects.Name </span>
                            }
                        }
                    </li>
                    <li class="list-group-item">Author: @blog.Author</li>
                    <li class="list-group-item">Read: @blog.ViewCount times</li>
                </ul>
                <p class="card-text" style="margin-left: 5%"><small class="text-muted">Last updated: @blog.LastUpdated?.ToString("dddd, dd MMMM yyyy")</small></p>
            </div>
        }
    </div>
</div>