@using Microsoft.AspNetCore.Identity
@model LoginVM
@inject SignInManager<AppUser> signinManager
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="signin-page account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="block text-center">
                    <a class="logo" href="index.html">
                        <img width="150" src="~/images/logo.png" alt="logo">
                    </a>
                    <h2 class="text-center">Welcome Back</h2>
                    <form class="text-left clearfix" method="post">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="custom-checkbox mt-30">
                            <input asp-for="RememberMe" id="account">
                            <label for="account"></label>
                            <p>Remember me</p>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    <p><a asp-action="forgotpassword" asp-controller="account"> Forgot your password?</a></p>
                    <p class="mt-3">New in this site ?<a asp-action="register" asp-controller="account"> Create New Account</a></p>
                    @{
                        var scheme = await signinManager.GetExternalAuthenticationSchemesAsync();
                        var loginproviders = scheme.ToList();
                    }
                    @if (loginproviders.Count>0){

                    }
                    <div class="col-12 d-flex flex-row justify-content-around">
                        <form class="col-12" asp-action="externallogin" asp-controller="account" asp-route-returnUrl="@Context.Request.Path" method="post" role="form">
                            <div class="row d-flex flex-row justify-content-around col-12">
                                @foreach (var item in loginproviders)
                                {
                                    if (item.Name.ToLower()=="google")
                                    {
                                        <button type="submit" class="btn m-1 text-light" style="width: 40%; background-color:rgb(179,38,30);" name="provider" value="@item.Name" title="Log in with @item.Name">
                                            <img src="~/images/TiQ81.png" width="28"/> @item.Name
                                        </button>
                                    }
                                    else{
                                        <button type="submit" class="btn m-1 text-light" style="width: 40%; background-color:rgb(57,86,151)" name="provider" value="@item.Name" title="Log in with @item.Name">
                                            <i style="font-size: 130%" class="fw-bold fa-brands fa-facebook-f"></i> @item.Name
                                        </button>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}