@model ChatVM
@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <a class="receiverName" asp-action="ProfilePage" asp-controller="user" asp-route-id="@ViewBag.ReceiverId">
        <h3>@ViewBag.ReceiverName</h3>
    </a>


<div class="row d-flex flex-column">
    @if (Model.ChatMessages!=null)
        {
            <div class="row">
                <div class="col-12">
                    <ul id="messagesList" class="col-12" >
                        @foreach (var item in Model.ChatMessages)
                        {
                            if (ViewBag.CurrentUserId==item.AppuserId)
                            {
                                <li class="col-12 mt-1 d-flex flex-column text-end " >
                                    <div class="message d-flex flex-column bg-success col-8 text-light p-1 align-self-end " style="border-radius:10px;">
                                        <span style="margin-right:15px; text-align: justify">@item.Message</span>
                                        <div class="col-12">
                                            <span style="font-size:70%">@item.Date</span>
                                            
                                                @if (!item.ReadByReceiver)
                                                {
                                                    <i class="fa-solid fa-eye-slash"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-eye align-self-end"></i>
                                                }
                                            </div>
                                        

                                    </div>
                                </li>
                            }
                            else{
                                <li class="col-12 d-flex mt-1 flex-column text-start " >
                                    <div class="message d-flex flex-column bg-secondary col-8 text-info p-1 " style="border-radius:10px;">
                                        <span>@item.Message</span>
                                        <span style="font-size:70%">@item.Date</span>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        }
        else
        {
            <h4 id="zeroMessage">You have not started a conversation yet</h4>
            <div class="row">
                <div class="col-12">
                    <ul id="messagesList" class="col-12" >
                           </ul>
                </div>
            </div>
        }
    </div>

    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4">@User.Identity.Name</div>
            <div class="col-4"><input type="hidden" id="userInput" value="@User.Identity.Name" /></div>
        </div>
        <div class="row">
            <div class="col-2">Receiver</div>
            <div class="col-4">@ViewBag.ReceiverName</div>
            <div class="col-4"><input type="hidden" id="receiverId" value="@ViewBag.ReceiverId" /></div>
        </div>

        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendToUser" value="Send Message" />&nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<audio id="incomingMsg" src="~/sounds/WhatsApp.mp3"></audio>
<audio id="outMsg" src="~/sounds/WhatsappSent .mp3"></audio>
@section Scripts{
                <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
                <script src="~/js/Chat.js"></script>
        }