@model List<ReceivedMsgVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (Model!=null)
    {
        foreach (var item in Model.OrderByDescending(c=>c.LastMessageDate))
        {
            <div class="d-flex flex-row col-sm-12 col-md-6 col-lg-4 mt-2 ">
                @if (item.UnreadMessageCount>0)
                {
                    <a class="col-12 p-3 messageSender d-flex justify-content-between" asp-action="chat" asp-controller="messages" asp-route-receiverId="@item.Sender.Id">
                        <span>@item.Sender.Fullname</span>
                        <span class="text-danger" style="font-weight:600; font-size:130%;">@item.UnreadMessageCount</span>
                    </a>
                }
                else
                {
                    <a class="col-12 p-3 messageSender " asp-action="chat" asp-controller="messages" asp-route-receiverId="@item.Sender.Id">
                        <span>@item.Sender.Fullname</span>
                    </a>
                }

            </div>
        }
    }
    else
    {
        <h3>Your message box is empty</h3>
    }
</div>