@model DetailVM
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrapper">





    <!-- breadcrumb -->
    <nav class="bg-gray py-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Product Single</li>
            </ol>
        </div>
    </nav>
    <!-- /breadcrumb -->

    <div id="quickView" class="quickview">
        <div class="row w-100">
            <div class="col-lg-6 col-md-6 mb-5 mb-md-0 pl-5 pt-4 pt-lg-0 pl-lg-0">
                <img src="~/images/feature/product.png" alt="product-img" class="img-fluid">
            </div>
            <div class="col-lg-5 col-md-6 text-center text-md-left align-self-center pl-5">
                <h3 class="mb-lg-2 mb-2">Woven Crop Cami</h3>
                <span class="mb-lg-4 mb-3 h5">$90.00</span>
                <p class="mb-lg-4 mb-3 text-gray">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. sed ut perspic atis unde omnis iste natus</p>
                <form action="#">
                    <select class="form-control w-100 mb-2" name="color">
                        <option value="brown">Brown Color</option>
                        <option value="gray">Gray Color</option>
                        <option value="black">Black Color</option>
                    </select>
                    <select class="form-control w-100 mb-3" name="size">
                        <option value="small">Small Size</option>
                        <option value="medium">Medium Size</option>
                        <option value="large">Large Size</option>
                    </select>
                    <button class="btn btn-primary w-100 mb-lg-4 mb-3">add to cart</button>
                </form>
                <ul class="list-inline social-icon-alt">
                    <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="ti-vimeo-alt"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="ti-google"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- product-single -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <!-- product image slider -->
                    

                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @foreach (var item in Model.Product.ProductImages)
                            {
                                <div class="carousel-item active">
                                    <img width="100%" src="~/images/products/@item.ImageUrl" class="d-block w-100" alt="...">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
                <!-- produt details -->
                <div class="col-lg-6 mb-100">
                    <h2>@Model.Product.Name</h2>
                    @if (Model.Product.Count>0)
                    {
                        <i class="ti-check-box text-success"></i>
                        <span class="text-success">Instock</span>
                    }
                    else{
                        <i class="ti-face-sad text-danger"></i>
                        <span class="text-danger">Out-of-stock</span>
                    }
                    <ul class="list-inline mb-4">
                        <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                        <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                        <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                        <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                        <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-gray ml-3">( 3 Reviews )</a></li>
                    </ul>
                    @if (Model.Product.DiscountPercent>0&&Model.Product.DiscountUntil>DateTime.Now)
                    {
                        <h4 class="text-primary h3">$@Model.Product.DiscountPrice <s class="text-color ml-2">$@Model.Product.Price</s></h4>
                        <h5 class="mb-4">You save: <span class="text-primary" style="color:green !important">$@(Model.Product.Price-@Model.Product.DiscountPrice) USD (@(Model.Product.DiscountPercent)%)</span></h5>
                    }
                    else{
                        <h4 style="color:black">$@Model.Product.Price</h4>
                    }
                    
                        <h2 class="mb-3">Description</h2>
                        <p class="text-gray mb-4">
                          @Model.Product.Description
                        </p>
                    <h4 class="text-primary" style="color:blue !important">View: <span class="text-color">@Model.Product.Views</span></h4>
                    <div class="col-8 d-flex flex-row">
                        <input id="quantity" class="quantity mr-sm-2 mb-3 mb-sm-0" type="text" value="" name="quantity">
                        <a class="btn btn-danger text-light mb-4 add" data-id="@Model.Product.Id" > add to cart</a>
                    </div>
                    @if (!ViewBag.ExistWishlist)
                    {
                        <a class="btn btn-success add-to-wishlist text-light" data-id="@Model.Product.Id" >Add to wishlist</a>
                    }

                    @if (Model.Product.DiscountUntil>DateTime.Now)
                    {
                        <h4 class="mb-3"><span class="text-primary">Hurry up!</span> Sale ends in</h4>
                        <!-- syo-timer -->
                        <div class="syotimer dark">
                            <div id="sale-timer" value="@Model.Product.DiscountUntil.ToString()" data-year="@(Model.Product.DiscountUntil.ToString().Substring(6,4))" data-month="@(Model.Product.DiscountUntil.ToString().Substring(3,2))" data-day="@(Model.Product.DiscountUntil.ToString().Substring(0,2))" data-hour="@(Model.Product.DiscountUntil.ToString().Substring(11,2))" data-minute="@(Model.Product.DiscountUntil.ToString().Substring(14,2))"></div>
                        </div>
                        <hr>
                    }
                    
                    

                </div>
                <div class="col-lg-12">
                    <h3 class="mb-3">Specifications</h3>

                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                Released:
                            </b> 
                            <div style="max-height:400px" class="col-9 flex-nowrap">
                                @Model.Product.ReleaseDate
                            </div>
                        </div>
                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                OS:
                            </b> 
                            <div style="max-height:400px" class="col-9 flex-nowrap">
                                @Model.Product.OperationSystem
                            </div>
                        </div>
                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                GPU:
                            </b> 
                            <div style="max-height:400px" class="col-9 flex-nowrap">
                                @Model.Product.GPU
                            </div>
                        </div>
                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                Chipset:
                            </b> 
                            <div style="max-height:400px" class="col-9 flex-nowrap">
                                @Model.Product.Chipset
                            </div>
                        </div>
                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                Memory:
                            </b> 
                            <div style="max-height:400px" class="col-9 flex-nowrap">
                                @Model.Product.Memory
                            </div>
                        </div>
                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                Body:
                            </b> 
                            <div style="max-height:400px" class="col-9 flex-nowrap">
                                @Model.Product.Body
                            </div>
                        </div>
                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                Display:
                            </b> 
                            <div style="max-height:400px" class="col-9 flex-nowrap">
                                @Model.Product.Display
                            </div>
                    </div>
                    @if (Model.Product.FrontCamera!=null)
                    {
                        <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                        <b style="max-height:400px" class="col-2">
                            Selfie:
                        </b>
                        <div style="max-height:400px" class="col-9 flex-wrap">
                            @Model.Product.FrontCamera
                        </div>
                    </div>
                    }
                    
                    @if (Model.Product.RearCamera!=null)
                    {
                        <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                Camera:
                            </b> 
                            <div style="max-height:400px" class="col-9 flex-wrap">
                                @Model.Product.RearCamera
                            </div>
                        </div>
                    }
                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                        <b style="max-height:400px" class="col-2">
                            Battery:
                        </b>
                        <div style="max-height:400px" class="col-9 flex-nowrap">
                            @Model.Product.Battery
                        </div>
                    </div>
                    
                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                Weight:
                            </b> 
                            <div style="max-height:400px" class="col-9 flex-nowrap">
                                @Model.Product.Weight
                            </div>
                    </div>

                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                        <b style="max-height:400px" class="col-2">
                            Category:
                        </b>
                        <div style="max-height:400px" class="col-9 flex-nowrap">
                            @Model.Product.Category.Name
                        </div>
                    </div>
                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                        <b style="max-height:400px" class="col-2">
                            Added by:
                        </b>
                        <div style="max-height:400px" class="col-9 flex-nowrap">
                            @if (Model.Owner == null)
                            {
                                <i><b>System</b></i>
                            }
                            else
                            {
                                @Model.Owner.Fullname
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /product-single -->
    <!-- testimonial -->
    <section class="section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="mb-4">What Our Customers Think?</h3>
                </div>
                <!-- testimonial-item -->
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                    <div class="d-flex">
                        <div>
                            <img class="rounded-circle mr-4" src="~/images/customer/customer-1.jpg" alt="customer-img">
                        </div>
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                            </ul>
                            <h4 class="text-dark">Best quality for the price</h4>
                            <p class="text-gray">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqe
                                laudant tota rem ape riamipsa eaque.
                            </p>
                            <h5 class="customer-name text-dark">Maggie Scott</h5>
                        </div>
                    </div>
                </div>
                <!-- testimonial-item -->
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                    <div class="d-flex">
                        <div>
                            <img class="rounded-circle mr-4" src="~/images/customer/customer-2.jpg" alt="customer-img">
                        </div>
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                            </ul>
                            <h4 class="text-dark">Best quality for the price</h4>
                            <p class="text-gray">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqe
                                laudant tota rem ape riamipsa eaque.
                            </p>
                            <h5 class="customer-name text-dark">Maggie Scott</h5>
                        </div>
                    </div>
                </div>
                <!-- testimonial-item -->
                <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                    <div class="d-flex">
                        <div>
                            <img class="rounded-circle mr-4" src="~/images/customer/customer-3.jpg" alt="customer-img">
                        </div>
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                                <li class="list-inline-item mx-0"><a href="#" class="rated"><i class="ti-star"></i></a></li>
                            </ul>
                            <h4 class="text-dark">Best quality for the price</h4>
                            <p class="text-gray">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqe
                                laudant tota rem ape riamipsa eaque.
                            </p>
                            <h5 class="customer-name text-dark">Maggie Scott</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /testimonial -->
    <!-- related products -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="mb-4">Related Products</h2>
                </div>
                <!-- product -->
                <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
                    <div class="product text-center">
                        <div class="product-thumb">
                            <div class="overflow-hidden position-relative">
                                <a href="product-single.html">
                                    <img class="img-fluid w-100 mb-3 img-first" src="~/images/collection/product-2.jpg" alt="product-img">
                                    <img class="img-fluid w-100 mb-3 img-second" src="~/images/collection/product-5.jpg" alt="product-img">
                                </a>
                                <div class="btn-cart">
                                    <a href="#" class="btn btn-primary btn-sm">Add To Cart</a>
                                </div>
                            </div>
                            <div class="product-hover-overlay">
                                <a href="#" class="product-icon favorite" data-toggle="tooltip" data-placement="left" title="Wishlist">
                                    <i class="ti-heart"></i>
                                </a>
                                <a href="#" class="product-icon cart" data-toggle="tooltip" data-placement="left" title="Compare">
                                    <i class="ti-direction-alt"></i>
                                </a>
                                <a data-vbtype="inline" href="#quickView" class="product-icon view venobox" data-toggle="tooltip"
                                   data-placement="left" title="Quick View"><i class="ti-search"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="h5"><a class="text-color" href="product-single.html">Box Leather Shoulder Bag</a></h3>
                            <span class="h5">$520.79</span>
                        </div>
                        <!-- product label badge -->
                        <div class="product-label new">
                            new
                        </div>
                    </div>
                </div>
                <!-- //end of product -->
                <!-- product -->
                <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
                    <div class="product text-center">
                        <div class="product-thumb">
                            <div class="overflow-hidden position-relative">
                                <a href="product-single.html">
                                    <img class="img-fluid w-100 mb-3 img-first" src="~/images/collection/product-3.jpg" alt="product-img">
                                    <img class="img-fluid w-100 mb-3 img-second" src="~/images/collection/product-6.jpg" alt="product-img">
                                </a>
                                <div class="btn-cart">
                                    <a href="#" class="btn btn-primary btn-sm">Add To Cart</a>
                                </div>
                            </div>
                            <div class="product-hover-overlay">
                                <a href="#" class="product-icon favorite" data-toggle="tooltip" data-placement="left" title="Wishlist">
                                    <i class="ti-heart"></i>
                                </a>
                                <a href="#" class="product-icon cart" data-toggle="tooltip" data-placement="left" title="Compare">
                                    <i class="ti-direction-alt"></i>
                                </a>
                                <a data-vbtype="inline" href="#quickView" class="product-icon view venobox" data-toggle="tooltip"
                                   data-placement="left" title="Quick View"><i class="ti-search"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="h5"><a class="text-color" href="product-single.html">Sneaky Leather Sneakers</a></h3>
                            <span class="h5">$270.79</span>
                        </div>
                        <!-- product label badge -->
                        <div class="product-label sale">
                            -10%
                        </div>
                    </div>
                </div>
                <!-- //end of product -->
                <!-- product -->
                <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
                    <div class="product text-center">
                        <div class="product-thumb">
                            <div class="overflow-hidden position-relative">
                                <a href="product-single.html">
                                    <img class="img-fluid w-100 mb-3 img-first" src="~/images/collection/product-4.jpg" alt="product-img">
                                    <img class="img-fluid w-100 mb-3 img-second" src="~/images/collection/product-2.jpg" alt="product-img">
                                </a>
                                <div class="btn-cart">
                                    <a href="#" class="btn btn-primary btn-sm">Add To Cart</a>
                                </div>
                            </div>
                            <div class="product-hover-overlay">
                                <a href="#" class="product-icon favorite" data-toggle="tooltip" data-placement="left" title="Wishlist">
                                    <i class="ti-heart"></i>
                                </a>
                                <a href="#" class="product-icon cart" data-toggle="tooltip" data-placement="left" title="Compare">
                                    <i class="ti-direction-alt"></i>
                                </a>
                                <a data-vbtype="inline" href="#quickView" class="product-icon view venobox" data-toggle="tooltip"
                                   data-placement="left" title="Quick View"><i class="ti-search"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="h5"><a class="text-color" href="product-single.html">Puzzle leather shoulder bag</a></h3>
                            <span class="h5">$400.79</span>
                        </div>
                        <!-- product label badge -->
                        <div class="product-label new">
                            new
                        </div>
                    </div>
                </div>
                <!-- //end of product -->
                <!-- product -->
                <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
                    <div class="product text-center">
                        <div class="product-thumb">
                            <div class="overflow-hidden position-relative">
                                <a href="product-single.html">
                                    <img class="img-fluid w-100 mb-3 img-first" src="~/images/collection/product-6.jpg" alt="product-img">
                                    <img class="img-fluid w-100 mb-3 img-second" src="~/images/collection/product-1.jpg" alt="product-img">
                                </a>
                                <div class="btn-cart">
                                    <a href="#" class="btn btn-primary btn-sm">Add To Cart</a>
                                </div>
                            </div>
                            <div class="product-hover-overlay">
                                <a href="#" class="product-icon favorite" data-toggle="tooltip" data-placement="left" title="Wishlist">
                                    <i class="ti-heart"></i>
                                </a>
                                <a href="#" class="product-icon cart" data-toggle="tooltip" data-placement="left" title="Compare">
                                    <i class="ti-direction-alt"></i>
                                </a>
                                <a data-vbtype="inline" href="#quickView" class="product-icon view venobox" data-toggle="tooltip"
                                   data-placement="left" title="Quick View"><i class="ti-search"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="h5"><a class="text-color" href="product-single.html">Puzzle leather shoulder bag</a></h3>
                            <span class="h5">$400.79</span>
                        </div>
                    </div>
                </div>
                <!-- //end of product -->
            </div>
        </div>




</div>