@using Final_E_Commerce.DAL;
@model DetailVM
@inject AppDbContext db
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string decimalString = "";
    decimalString = Model.Product.Rating.ToString("#.##");
    string discountday="";
    string discountmonth="";
    string discountyear="";
    string year="";
    string discounthour="";
    string hours="";

    //2022/10/12 12:00:00
    if (Model.Product.DiscountUntil > DateTime.Now.AddHours(12) && Model.Product.DiscountUntil != null && Model.Product.DiscountPercent > 0)
    {
        discountday = Model.Product.DiscountUntil.ToString().Split('/')[1];
        discountmonth = Model.Product.DiscountUntil.ToString().Split('/')[0];
        discountyear = Model.Product.DiscountUntil.ToString();
        year = discountyear.Substring(discountyear.LastIndexOf('/') + 1).Substring(0,4);

        discounthour = Model.Product.DiscountUntil.ToString().Split(':')[0];
        hours = discounthour.Substring(discounthour.Length - 2);    
    }
}
<div class="main-wrapper">





    <!-- breadcrumb -->
    <nav class="bg-gray py-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Product.Name</li>
            </ol>
        </div>
    </nav>
    <!-- /breadcrumb -->

    <div id="quickView" class="quickview">
        <div class="row w-100">
            <div class="col-lg-6 col-md-6 mb-5 mb-md-0 pl-5 pt-4 pt-lg-0 pl-lg-0">
                <img src="~/images/feature/product.png" alt="product-img" class="img-fluid">
            </div>
            <div class="col-lg-5 col-md-6 text-center text-md-left align-self-center pl-5">
                <h3 class="mb-lg-2 mb-2">Woven Crop Cami</h3>
                <span class="mb-lg-4 mb-3 h5">$90.00</span>
                <p class="mb-lg-4 mb-3 text-gray">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. sed ut perspic atis unde omnis iste natus</p>
                <form action="#">
                    <select class="form-control w-100 mb-2" name="color">
                        <option value="brown">Brown Color</option>
                        <option value="gray">Gray Color</option>
                        <option value="black">Black Color</option>
                    </select>
                    <select class="form-control w-100 mb-3" name="size">
                        <option value="small">Small Size</option>
                        <option value="medium">Medium Size</option>
                        <option value="large">Large Size</option>
                    </select>
                    <button class="btn btn-primary w-100 mb-lg-4 mb-3">add to cart</button>
                </form>
                <ul class="list-inline social-icon-alt">
                    <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="ti-vimeo-alt"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="ti-google"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- product-single -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <!-- product image slider -->
                    <section id="image-carousel" class="splide" aria-label="Beautiful Images">
                        <div class="splide__track">
                            <ul class="splide__list">
                                @foreach (var image in Model.Product.ProductImages)
                                {
                                    <li class="splide__slide">
                                         <img src="~/images/products/@image.ImageUrl"/>
                                    </li>
                                }
                            </ul>
                        </div>
                    </section>

                    

                </div>
                <!-- produt details -->
                <div class="col-lg-6 mb-100">
                    <h2>@Model.Product.Name</h2>
                    @if (Model.Product.Count>0)
                    {
                        <i class="ti-check-box text-success"></i>
                        <span class="text-success">Instock</span>
                        <br />
                    }
                    else{
                        <i class="ti-face-sad text-danger"></i>
                        <span class="text-danger">Out-of-stock</span>
                    }
                    @if (Model.UsersWantIt>0)
                    {
                        <span class="text-success">@Model.UsersWantIt users want this</span>
                    }
                    <ul class="list-inline mb-2">
                        @if (Model.Product.Rating>0)
                        {
                            @for (int i = 0; i < Math.Floor(Model.Product.Rating); i++)
                            {
                                <li class="list-inline-item"> <i class="fa fa-star fa-2x" style="color:orange;"></i></li>
                            }
                            if (Math.Floor(Model.Product.Rating)<5)
                            {
                                @for (int i = 0; i < 5-Math.Floor(Model.Product.Rating); i++)
                                {
                                    <li class="list-inline-item"> <i class="fa fa-star fa-2x"></i></li>
                                }
                            }
                            <li class="list-inline-item" style="font-size: 120%">(@decimalString) Rated by @Model.RatedBy users</li>
                        }
                        else{
                            <span>0 Rating</span>
                        }
                        @if (Model.Product.ProductComment!=null)
                        {
                            <li class="list-inline-item" style="font-size: 120%"><a href="#comment-section" class="text-gray ml-3">( @Model.Product.ProductComment.Count Comments)</a></li>
                        }
                        else{
                            <li class="list-inline-item" style="font-size: 120%"><a href="#comment-section" class="text-gray ml-3">( 0 Comments)</a></li>
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated && Model.IsRated)
                    {
                        <a asp-action="removerating" asp-controller="home" asp-route-id="@Model.Product.Id" asp-route-ReturnUrl="@Context.Request.Path" class="text-danger mb-2" style="font-weight: 700">Remove rating</a>
                    }
                    @if (Model.Product.DiscountPercent>0&&Model.Product.DiscountUntil>DateTime.Now.AddHours(12))
                    {
                        <h4 class="text-primary h3">$@Model.Product.DiscountPrice <s class="text-color ml-2">$@Model.Product.Price</s></h4>
                        <h5 class="mb-4">You save: <span class="text-primary" style="color:green !important">$@(Model.Product.Price-@Model.Product.DiscountPrice) USD (@(Model.Product.DiscountPercent)%)</span></h5>
                    }
                    else{
                        <h4 style="color:black">$@Model.Product.Price</h4>
                    }
                    
                    @if (User.Identity.IsAuthenticated && User.Identity.Name!=Model.Product.AppUser.UserName && !Model.IsRated && Model.DidUserBuyThis)
                    {
                        <div class="d-flex flex-column mt-5">
                            <div style="display:flex;flex-direction:row !important">
                                <span onclick="changeColor(0)" id="spn1" class=" fa fa-star fa-2x"> </span>
                                <span onclick="changeColor(1)" id="spn2" class=" fa fa-star fa-2x"> </span>
                                <span onclick="changeColor(2)" id="spn3" class=" fa fa-star fa-2x"> </span>
                                <span onclick="changeColor(3)" id="spn4" class=" fa fa-star fa-2x"> </span>
                                <span onclick="changeColor(4)" id="spn5" class=" fa fa-star fa-2x"> </span>
                            </div>
                            <span class="text-danger" style="font-size: 150%" id="pro-rating-warning"></span>
                            <button id="rate-btn" class="btn btn-warning text-light col-5 mt-2"  data-id="@Model.Product.Id">Rate!</button>
                        </div>
                    }
                    else if (User.Identity.IsAuthenticated && User.Identity.Name != Model.Product.AppUser.UserName && Model.DidUserBuyThis==false)
                    {
                        <div class="d-flex flex-column mt-1">
                            <h4 class="text-danger">Sorry, you can not rate this item unless you buy it</h4>
                        </div>
                    }
                    

                    <h2 class="mb-3">Description  </h2>
                        <p class="text-gray mb-4">
                          @Model.Product.Description
                        </p>
                    <h4 class="text-dark" >Condition: <span class="text-color">@(Model.Product.IsNew?"New":"Used")</span></h4>
                    <br />
                    <h4 class="text-primary" style="color:blue !important">View: <span class="text-color">@Model.Product.Views</span></h4>
                    <div class="col-12 d-flex flex-row">
                        <input style="width:100%" id="quantity" class="quantity mr-sm-2 mb-3 mb-sm-0" type="text" value="" name="quantity">
                        <br>
                        <a class="btn btn-danger text-light mb-4 add" data-id="@Model.Product.Id" > add to cart</a>
                    </div>
                    @if (!Model.ExistWishlist)
                    {
                        <a class="btn btn-success add-to-wishlist text-light" data-id="@Model.Product.Id" >Add to wishlist</a>
                    }

                    @if (Model.Product.DiscountUntil>DateTime.Now.AddHours(12)&&Model.Product.DiscountPercent>0)
                    {
                        <h4 class="mb-3"><span class="text-primary">Hurry up!</span> Sale ends in</h4>
                        <!-- syo-timer -->
                        
                        <div class="syotimer dark">
                            <div id="sale-timer" value="@Model.Product.DiscountUntil.ToString()"
                             data-year="@year" data-month="@discountmonth"
                             data-day="@discountday" data-hour="@hours"
                             data-minute="@(Model.Product.DiscountUntil.ToString().Split(':')[1])"></div>
                        </div>
                        <hr>
                    }
                    
                    

                </div>
                <div class="col-12">
                    <h3 class="mb-3">Specifications</h3>

                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                Released:
                            </b> 
                            <div style="max-height:400px" class="col-8 flex-nowrap ml-5">
                                @Model.Product.ReleaseDate

                                @*year: @year, month: @month, day: @days,*@
                            
                            </div>
                        </div>
                    @if (Model.Product.OperationSystem!=null)
                    {
                        <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                OS:
                            </b> 
                            <div style="max-height:400px" class="col-8 flex-nowrap ml-5">
                                @Model.Product.OperationSystem
                            </div>
                        </div>
                    }
                    @if (Model.Product.GPU!=null)
                    {
                        <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                GPU:
                            </b> 
                            <div style="max-height:400px" class="col-8 flex-nowrap ml-5">
                                @Model.Product.GPU
                            </div>
                        </div>
                    }
                    @if (Model.Product.Chipset!=null)
                    {
                        <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                Chipset:
                            </b> 
                            <div style="max-height:400px" class="col-8 flex-nowrap ml-5">
                                @Model.Product.Chipset
                            </div>
                        </div>    
                    }
                    
                    @if (Model.Product.Memory!=null)
                    {
                        <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                Memory:
                            </b> 
                            <div style="max-height:400px" class="col-8 flex-nowrap ml-5">
                                @Model.Product.Memory
                            </div>
                        </div>
                    }
                    @if (Model.Blogs!=null)
                    {
                        <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                                <b style="max-height:400px" class="col-2">
                                    Body:
                                </b> 
                                <div style="max-height:400px" class="col-8 flex-nowrap ml-5">
                                    @Model.Product.Body
                                </div>
                            </div>
                    }
                    @if (Model.Product.Display != null)
                    {
                        <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                                <b style="max-height:400px" class="col-2">
                                    Display:
                                </b> 
                                <div style="max-height:400px" class="col-8 flex-nowrap ml-5">
                                    @Model.Product.Display
                                </div>
                        </div>
                    }
                    @if (Model.Product.FrontCamera!=null)
                    {
                        <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                        <b style="max-height:400px" class="col-2">
                            Selfie:
                        </b>
                        <div style="max-height:400px" class="col-8 flex-wrap ml-5">
                            @Model.Product.FrontCamera
                        </div>
                    </div>
                    }
                    
                    @if (Model.Product.RearCamera!=null)
                    {
                        <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <b style="max-height:400px" class="col-2">
                                Camera:
                            </b> 
                            <div style="max-height:400px" class="col-8 flex-wrap ml-5">
                                @Model.Product.RearCamera
                            </div>
                        </div>
                    }
                    @if (Model.Product.Battery!=null)
                    {
                        <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                        <b style="max-height:400px" class="col-2">
                            Battery:
                        </b>
                        <div style="max-height:400px" class="col-8 flex-nowrap ml-5">
                            @Model.Product.Battery
                        </div>
                    </div>
                    }
                    @if (Model.Product.Weight!=null)
                    {
                        <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                                <b style="max-height:400px" class="col-2">
                                    Weight:
                                </b> 
                                <div style="max-height:400px" class="col-8 flex-nowrap ml-5">
                                    @Model.Product.Weight
                                </div>
                        </div>
                    }

                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                        <b style="max-height:400px" class="col-2">
                            Category:
                        </b>
                        <div style="max-height:400px" class="col-8 flex-nowrap ml-5">
                            @Model.Product.Category.Name
                        </div>
                    </div>
                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                        <b style="max-height:400px" class="col-2">
                            Brand:
                        </b>
                        <div style="max-height:400px" class="col-8 flex-nowrap ml-5">
                            <a class="text-dark" asp-action="brands" asp-route-id="@Model.Product.Brand.Id">@Model.Product.Brand.Name <img width="50" src="~/images/Brands/@Model.Product.Brand.ImageUrl" /></a>
                        </div>
                    </div>
                    
                    @if (Model.Product.ProductTags!=null)
                    {
                        <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                        <b style="max-height:400px" class="col-2">
                            Tags:
                        </b>
                        <div style="max-height:400px" class="col-8 flex-nowrap ml-5">
                            @foreach (var tag in Model.Product.ProductTags)
                            {
                                <span> @tag.Tags.Name </span>
                            }
                        </div>
                    </div>
                    }
                    <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                        <b style="max-height:400px" class="col-2">
                            Added by:
                        </b>
                        <div style="max-height:400px" class="col-8 flex-nowrap ml-5">
                            @if (Model.Owner == null)
                            {
                                <i><b>System</b></i>
                            }
                            else
                            {
                                <a asp-action="profilepage" asp-controller="user" asp-route-id="@Model.Owner.Id">
                                    @Model.Owner.Fullname
                                </a>
                            }
                        </div>
                    </div>
                    @if (Model.Owner!=null&& User.Identity.IsAuthenticated&&Model.Owner.UserName==User.Identity.Name)
                    {
                        <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                            <a asp-action="EditProduct" asp-controller="user" asp-route-id="@Model.Product.Id" style="max-height:400px" class="col-2 text-warning fw-bold">
                                Edit this product
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- /product-single -->
    <!-- testimonial -->
    <!-- /testimonial -->


    <section class="container col-12 mt-5" id="comment-section">
        <div class="post-comments">
            <h4 class="post-sub-heading border-bottom pb-3 mb-3">    <span id="pro-comCount">@Model.Product.CommentCount</span>    Comments</h4>
            <ul class="media-list" id="pro-comment-area">
                
                @if (Model.Comments != null)
                {
                    @foreach (var comment in Model.Comments)
                    {
                        <li style="border: 2px solid rgb(150,151,154); border-radius: 10px; padding: 10px" class="media mt-3 comment-box">
                            <a href="#">
                                @if (comment.AppUserId != null)
                                {
                                    <a asp-action="ProfilePage" asp-controller="user" asp-route-id="@comment.AppUserId"><img class="img-fluid" src="~/images/profilepictures/@comment.User.ProfilePicture" alt="" width="50" height="50"></a>
                                }
                                else
                                {
                                    <img class="img-fluid" src="~/images/profilepictures/nophoto.jpg" alt="" width="50" height="50">
                                }
                            </a>
                            <div class="media-body">
                                <div class="comment-info">
                                    <div class="comment-author d-flex flex-row justify-content-between">
                                        @if (comment.AppUserId != null)
                                        {
                                            <a asp-action="ProfilePage" asp-controller="user" asp-route-id="@comment.AppUserId">@comment.User.Fullname</a>
                                        }
                                        else
                                        {
                                            <a >@comment.Author <span class="text-danger">(Not a member) </span>
                                            </a>
                                        }
                                        @if (Model.RightCounter > 0 || (User.Identity.IsAuthenticated && comment.AppUserId == Model.AppUserId))
                                        {
                                            <a class="text-danger mr-3 pro-deleteComment" style="cursor: pointer" data-id="@comment.Id">Delete</a>
                                        }
                                    </div>
                                    
                                    <time>@comment.Date.ToString("dddd, dd MMMM yyyy HH:mm:ss")</time>
                                    @*<a class="comment-button" href="#"><i class="ti-comments"></i>Reply</a>*@
                                </div>
                                    @if (comment.AppUserId != null)
                                    {
                                        int rated = 0;
                                        bool didRateThis = db.UserProductRatings.Where(u => u.AppUserId == comment.AppUserId && u.ProductId == Model.Product.Id).Any();
                                        if (didRateThis)
                                        {

                                            var rating = db.UserProductRatings.FirstOrDefault(u => u.AppUserId == comment.AppUserId && u.ProductId == Model.Product.Id);
                                            rated = rating.Rating;
                                            <span class="mt-3">
                                            @for (int i = 0; i < rated; i++)
                                            {
                                                <i class="fa-solid fa-star text-warning"></i>
                                            }
                                            @if (rated<5)
                                            {
                                                @for (int i = 0; i < 5-rated; i++)
                                                {
                                                    <i class="fa-solid fa-star"></i>
                                                }
                                            }
                                            </span>
                                        }
                                    }
                                    
                                <h3 class="mt-1">
                                    
                                    @comment.Content <br>

                                </h3>
                            </div>
                        </li>
                    }
                }
            </ul>
            @if (Model.Product.CommentCount> 10)
            {
                <div class="row d-flex justify-content-center mt-5 mb-5">
                    <button class="btn btn-danger col-7 col-sm-6" id="pro-loadmore" com-count="@Model.Product.CommentCount" data-id="@Model.Product.Id">Load More Comments</button>
                </div>
            }
        </div>
        @if (User.Identity.IsAuthenticated)
        {

            <div class="post-comments-form" style="margin-top: 50px">
                <h4 class="post-sub-heading mb-3" id="pro-comment-title">Leave You Comment</h4>

                <div class="row">
                    <div class="form-group col-md-12">
                        <textarea id="pro-comment-input" class="form-control" placeholder="Comment"></textarea>
                        <span class="text-danger" id="pro-comment-warning"></span>
                    </div>
                    <!-- Send Button -->
                    <div class="form-group col-md-12">
                        <a class="btn btn-primary text-light" id="pro-post-comment" data-id="@Model.Product.Id">
                            Post
                        </a>
                    </div>
                </div>

            </div>
        }
        else
        {
            <div class="post-comments-form" style="margin-top: 50px">
                <h4 class="post-sub-heading mb-3" id="pro-comment-title">Leave You Comments</h4>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <input id="pro-comment-name" class=" form-control" placeholder="Name *">
                        <span class="text-danger" id="pro-name-warning"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <textarea id="pro-comment-input" class=" form-control" placeholder="Comment"></textarea>
                        <span class="text-danger" id="pro-comment-warning"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <a class="btn btn-primary text-light" id="pro-post-comment" data-id="@Model.Product.Id">
                            Post
                        </a>
                    </div>
                </div>

            </div>
        }

    </section>

    <!-- related products -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-around">
                @if (Model.RelatedProducts.Count>0)
                {
                    <div class="col-lg-12">
                        <h2 class="mb-4">Related Products</h2>
                    </div>
                    @foreach (var product in Model.RelatedProducts)
                {
                    <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
                    <div class="product text-center">
                        <div class="product-thumb">
                            <div class="overflow-hidden position-relative">
                                        <a asp-action="detail" asp-controller="home" asp-route-id="@product.Id">
                                    @foreach (var image in product.ProductImages)
                                    {
                                        if (image.IsMain)
                                            {
                                                <img style="width:200px; height:210px;" class="img-fluid w-100 mb-3 img-first" src="~/images/products/@image.ImageUrl" alt="product-img">
                                            }
                                    }
                                    @foreach (var image in product.ProductImages)
                                    {
                                        if (!image.IsMain)
                                            {
                                                    <img style="width:200px; height:210px;" class="img-fluid w-100 mb-3 img-second" src="~/images/products/@image.ImageUrl" alt="product-img">
                                                    break;
                                            }
                                        }
                                    
                                </a>
                                <div class="btn-cart">
                                            <a class="btn btn-primary text-light btn-sm add" data-id="@product.Id">Add To Cart</a>
                                </div>
                            </div>
                            <div class="product-hover-overlay">
                                        <a class="product-icon favorite add-to-wishlist-from-card" data-id="@product.Id" data-toggle="tooltip" data-placement="left" title="Wishlist">
                                            <i class="fa-regular fa-heart text-danger"></i>
                                        </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="h5"><a class="text-color" href="product-single.html">@product.Name</a></h3>
                                    @if (product.DiscountPercent > 0)
                                    {
                                        <span class="h5">$@product.DiscountPrice</span>
                                    }
                                    else
                                    {
                                        <span class="h5">$@product.Price</span>
                                    }
                        </div>
                        <!-- product label badge -->
                        @if (product.DiscountPercent > 0)
                            {
                                <div class="product-label sale" >
                                    @(product.DiscountPercent)%
                                </div>
                            }
                            @{
                                TimeSpan? difference = DateTime.Now.AddHours(12) - product?.CreatedTime;
                            }
                            @if (difference?.Days < 5)
                            {
                                <div class="product-label new">
                                    new
                                </div>
                            }
                    </div>
                </div>
                }
                }
                else{
                    <div class="col-lg-12">
                        <h2 class="mb-4">No Related Products Found</h2>
                    </div>
                }
            </div>
        </div>
        </section>

</div>




@section Scripts{
    <script>
        function changeColor(parameter) {
            var stars = ["spn1", "spn2", "spn3", "spn4", "spn5"];
            let btn = document.getElementById("rate-btn")
            for (i = 0; i <= parameter; i++) {
                var element = document.getElementById(stars[i])
                element.style.color = "orange"
                btn.setAttribute("rating",parameter+1)
            }
            var k = stars.length - 1;
            for (k; k > parameter; k--) {
                var element = document.getElementById(stars[k])
                element.style.color = "black"
                btn.setAttribute("rating",parameter+1)
            }
        }
    </script>
}