@model HomeVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section bg-gray hero-area">
  <div class="container">
    <div class="hero-slider">
      
        @foreach (var item in Model.Sliders)
        {
                <div class="slider-item">
                    <div class="row">
                        <div class="col-lg-6 align-self-center text-center text-md-left mb-4 mb-lg-0">
                            <h3 data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in="0" data-animation-out="fadeOutDown" data-delay-out="5.8" data-duration-out=".3">@item.FirstTitle</h3>
                            <h1 data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in=".2" data-animation-out="fadeOutDown" data-delay-out="5.4" data-duration-out=".3">@item.MainTitle</h1>
                            <h3 class="mb-4" data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in=".4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-out=".3">@item.Subtitle</h3>
                            <p class="mb-4" data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in=".6" data-animation-out="fadeOutDown" data-delay-out="4.6" data-duration-out=".3">@item.Description</p>
                            <a href="@item.Link" class="btn btn-primary" data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in=".8" data-animation-out="fadeOutDown" data-delay-out="4.2" data-duration-out=".3">shop now</a>
                        </div>
                        <div class="col-lg-6 text-center">
                            <div class="bg-letter">
                                <!-- background letter -->
                                
                                <img class="img-fluid d-unset" src="~/images/slider/@item.ImageUrl" alt="converse" data-duration-in=".5" data-animation-in="fadeInRight" data-delay-in="1" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-out=".3">
                            </div>
                        </div>
                    </div>
                </div>
            }

    </div>
  </div>
</section>

<div id="quickView" class="quickview">
  <div class="row w-100">
    <div class="col-lg-6 col-md-6 mb-5 mb-md-0 pl-5 pt-4 pt-lg-0 pl-lg-0">
      <img id="modal-image" src="" alt="product-img" class="img-fluid">
    </div>
    <div class="col-lg-5 col-md-6 text-center text-md-left align-self-center pl-5">
      <h3 id="modal-product-name" class="mb-lg-2 mb-2"></h3>
      <span id="modal-product-price" class="mb-lg-4 mb-3 h5"></span>
      <p  id="modal-product-desc" class="mb-lg-4 mb-3 text-gray"></p>
            <div id="modal-button-section" class="col-lg-12 col-md-12 d-flex flex-row justify-content-around" style="margin: 0 auto">
                <a id="modal-add-btn" class="btn btn-primary  mb-lg-4 mb-3 col-10" href="">Full detail</a>
            </div>
      <ul class="list-inline social-icon-alt">
        <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="ti-vimeo-alt"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="ti-google"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- collection -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Best Sellers</h2>
      </div>
      <div class="col-12">
        <div class="collection-slider">
            <!-- product -->
       

            @foreach (var item in Model.BestSellerProducts)
            {
                        <div class="col-lg-4 col-sm-6 "  style="min-height:280px; max-height:380px">
                            <div class="product text-center h-100">
                                <div class="product-thumb">
                                    <div class="overflow-hidden position-relative">
                                        <a asp-action="detail" asp-controller="home" asp-route-id="@item.Id" style="width:100%">
                                            @foreach (var image in item.ProductImages)
                                            {
                                                if (image.IsMain)
                                                {
                                                    <img style="width:100%; height:200px;" class="img-fluid align-self-center mb-3 img-first" src="~/images/products/@image.ImageUrl" alt="product-img">
                                                }
                                            }

                                        </a>
                                        <div class="btn-cart">
                                            <a class="btn btn-primary btn-sm add" data-id="@item.Id">Add To Cart</a>
                                        </div>
                                    </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        bool exist = false;
                                        foreach (var w in Model.Wishlists)
                                        {
                                             if (w.AppUserId==Model.User.Id&&w.ProductId==item.Id)
                                            {
                                                exist = true;
                                                break;
                                            }
                                        }
                                        if (!exist)
                                        {
                                            <div class="product-hover-overlay">
                                        
                                                    <a class="product-icon favorite add-to-wishlist-from-card" data-id="@item.Id" data-toggle="tooltip" data-placement="left" title="Wishlist">
                                                        <i class="fa-regular fa-heart text-danger"></i>
                                                    </a>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="product-info">
                                    <h3 class="h5"><a class="text-color" asp-action="detail" asp-route-id="@item.Name">@item.Name</a></h3>
                                    @if (item.DiscountPercent>0)
                                    {
                                        <span class="h5">$@item.DiscountPrice</span>
                                    }
                                    else{
                                        <span class="h5">$@item.Price</span>
                                    }
                                </div>
                                    <div class="product-label d-flex flex-column justify-content-around" style="border-radius:5px">
                                @if (item.DiscountPercent>0)
                                {
                                        <div class="sale" style="background-color: rgb(255,51,133);padding:3px 10px;color:white;margin: 5px 0">
                                            @(item.DiscountPercent)%
                                        </div>
                                }
                                    @{
                                        TimeSpan? difference = DateTime.Now.AddHours(12) - item?.CreatedTime;
                                    }
                                @if (difference?.Days<5)
                                {
                                        <div class="new" style="background-color: rgb(102,126,234);padding:3px 10px;color:white;margin: 5px 0">
                                            new
                                        </div>
                                }
                                    </div>
                            </div>
                        </div>
                    }
            
        </div>
      </div>
    </div>
  </div>
</section>




<section class="section-sm border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="d-flex flex-sm-row flex-column align-items-center align-items-sm-start">
          <i class="ti-truck icon-lg mr-4 mb-3 mb-sm-0"></i>
          <div class="text-center text-sm-left">
            <h4>Free Shipping</h4>
            <p class="mb-0 text-gray">Free shipping on oder over $70</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="d-flex flex-sm-row flex-column align-items-center align-items-sm-start">
          <i class="ti-shield icon-lg mr-4 mb-3 mb-sm-0"></i>
          <div class="text-center text-sm-left">
            <h4>Secure Payment</h4>
            <p class="mb-0 text-gray">We ensure secure payment with PEV</p>
          </div>
        </div>
      </div>
      <!-- service item -->
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="d-flex flex-sm-row flex-column align-items-center align-items-sm-start">
          <i class="ti-timer icon-lg mr-4 mb-3 mb-sm-0"></i>
          <div class="text-center text-sm-left">
            <h4>Support 24/7</h4>
            <p class="mb-0 text-gray">Contact us 24 hours a day, 7 days a week</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="d-flex flex-sm-row flex-column align-items-center align-items-sm-start">
          <i class="ti-reload icon-lg mr-4 mb-3 mb-sm-0"></i>
          <div class="text-center text-sm-left">
            <h4>30 Days Return</h4>
            <p class="mb-0 text-gray">Simply return it within 30 days for an exchange.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section">
    <div class="container">
        <div class="row d-flex flex-column justify-content-center align-items-center">
            
                <div class="col-lg-12 d-flex flex-row justify-content-center">
                    <h2 class="mb-4 ">Blogs</h2>
                </div>
                <div class="row d-flex flex-row flex-wrap justify-content-around">
                    @foreach (var blog in Model.Blogs)
                    {
                    <div class="card m-2 homeblog" style="width: 30%;">
                        <a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id" class="text-dark mt-2"><img width="150" height="250" src="~/images/blog/@blog.ImageUrl" class="card-img-top"></a>
                        <div class="card-body">
                            <a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id" class="text-dark"><h5 class="card-title fw-bolder">
                                @if (blog.Title.Length>29)
                                    {
                                        blog.Title.Substring(0, 29);
                                    }
                                    else
                                    {
                                        blog.Title.ToString();
                                    }
                                </h5> </a>
                            <a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id" class="text-dark"><p style="height:10%; overflow:hidden;" class="card-text">@Html.Raw(blog.Content.Substring(0,90))...</p></a>
                        </div>
                    </div>
                    }
                </div>
        </div>
    </div>
</section>




<section class="section">
    <div class="container">
        <div class="row d-flex flex-column justify-content-center align-items-center">
            @if (User.Identity.IsAuthenticated && Model.Following.Count > 0)
            {
                <div class="col-lg-12 d-flex flex-row justify-content-center">
                    <h2 class="mb-4 ">Product Feed</h2>
                </div>
                <div class="row d-flex flex-row flex-wrap justify-content-around">
                    @foreach (var product in Model.Following)
                {
                    <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0 m-3">
                        <div class="product text-center">
                            <div class="product-thumb">
                                <div class="overflow-hidden position-relative">
                                    <a asp-action="detail" asp-controller="home" asp-route-id="@product.Id">
                                        @foreach (var image in product.ProductImages)
                                        {
                                            if (image.IsMain)
                                            {
                                                <img style="width:200px; height:210px;" class="img-fluid w-100 mb-3 img-first" src="~/images/products/@image.ImageUrl" alt="product-img">
                                            }
                                        }
                                        @foreach (var image in product.ProductImages)
                                        {
                                            if (!image.IsMain)
                                            {
                                                <img style="width:200px; height:210px;" class="img-fluid w-100 mb-3 img-second" src="~/images/products/@image.ImageUrl" alt="product-img">
                                                break;
                                            }
                                        }
                                    </a>
                                    <div class="btn-cart">
                                        <a class="btn btn-primary text-light btn-sm add" data-id="@product.Id">Add To Cart</a>
                                    </div>
                                </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        bool exist = false;
                                        foreach (var w in Model.Wishlists)
                                        {
                                            if (w.AppUserId == Model.User.Id && w.ProductId == product.Id)
                                            {
                                                exist = true;
                                                break;
                                            }
                                        }
                                        if (!exist)
                                        {
                                            <div class="product-hover-overlay">

                                                <a class="product-icon favorite add-to-wishlist-from-card" data-id="@product.Id" data-toggle="tooltip" data-placement="left">
                                                    <i class="fa-regular fa-heart text-danger"></i>
                                                </a>
                                            </div>
                                        }
                                    }
                            </div>
                            <div class="product-info">
                                <h3 class="h5"><a class="text-color" href="product-single.html">@product.Name</a></h3>
                                @if (product.DiscountPercent > 0)
                                {
                                    <span class="h5">$@product.DiscountPrice</span>
                                }
                                else
                                {
                                    <span class="h5">$@product.Price</span>
                                }
                            </div>
                            <!-- product label badge -->
                            @if (product.DiscountPercent > 0)
                            {
                                <div class="product-label sale">
                                    @(product.DiscountPercent)%
                                </div>
                            }
                            @{
                                TimeSpan? difference = DateTime.Now.AddHours(12) - product?.CreatedTime;
                            }
                            @if (difference?.Days < 5)
                            {
                                <div class="product-label new">
                                    new
                                </div>
                            }
                        </div>
                    </div>
                }
                </div>
            }
            else if (User.Identity.IsAuthenticated && Model.Following.Count == 0)
            {
                <div class="col-lg-12 d-flex flex-row justify-content-center">
                    <h2 class="mb-4">Nothing in your Feed...</h2>
                    <h3 class="mb-4">You are not following anyone....</h3>
                </div>
            }
            else if(!User.Identity.IsAuthenticated)
            {
                <div class="col-lg-12 d-flex flex-row justify-content-center">
                    <h2 class="mb-4">Nothing in your Feed...</h2>
                    <h3 class="mb-4">You might want to <a asp-action="login" asp-controller="account">log in</a> to see your feed</h3>
                </div>
            }
        </div>
    </div>
</section>