@model UserVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="bg-gray py-3">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">My Account</li>
    </ol>
  </div>
</nav>
<section class="user-dashboard section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li class="list-inline-item user-menu"><a class="active" asp-action="index" asp-controller="user">Dashboard</a></li>
					<li class="list-inline-item user-menu"><a asp-action="orders" asp-controller="user">Orders</a></li>
					<li class="list-inline-item user-menu"><a asp-action="userdetail" asp-controller="user">Profile Details</a></li>
					<li class="list-inline-item user-menu"><a asp-action="products" asp-controller="user">Products</a></li>
				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<div class="media">
						<div class="pull-left mr-3 d-flex flex-column">
							<img class="media-object user-img" src="images/ProfilePictures/@Model.User.ProfilePicture" alt="Image">
							<a class="text-danger" asp-action="changeimage" asp-controller="user">Change Picture</a>
						</div>
						<div class="media-body align-self-center">
							<h2 class="media-heading">@Model.User.Fullname</h2>
						@if (Model.UserProfile.AboutMe!=null)
							{
								<p class="mb-0">@Model.UserProfile.AboutMe</p>
							}
						</div>
					</div>
					<div class="row">

						@if (Model.UserProfile.Birthdate!=null)
						{
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
							    <b style="max-height:400px" class="col-2">
							        Birthdate:
							    </b> 
							    <div style="max-height:400px" class="col-9 flex-nowrap">
									@Model.UserProfile.Birthdate?.ToString("dddd, dd MMMM yyyy")
							    </div>
							</div>
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
								<b style="max-height:400px" class="col-2">
									Age:
								</b>
								<div style="max-height:400px" class="col-9 flex-nowrap">
									@(Int32.Parse(DateTime.Now.ToString("yyyy"))-Int32.Parse(Model.UserProfile.Birthdate?.ToString("yyyy")))
								</div>
							</div>
						}

						@if (Model.UserProfile.EmailForPublic != null)
						{
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
								<b style="max-height:400px" class="col-2">
									Email:
								</b>
								<div style="max-height:400px" class="col-9 flex-nowrap">
									@Model.UserProfile.EmailForPublic
								</div>
							</div>
						}
						@if (Model.UserProfile.Hobbies != null)
						{
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
								<b style="max-height:400px" class="col-2">
									Hobbies:
								</b>
								<div style="max-height:400px" class="col-9 flex-nowrap">
									@Model.UserProfile.Hobbies
								</div>
							</div>
							
						}

						@if (Model.UserProfile.FavouriteMusics!= null)
						{
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
								<b style="max-height:400px" class="col-2">
									Favourite songs:
								</b>
								<div style="max-height:400px" class="col-9 flex-nowrap">
									@Model.UserProfile.FavouriteMusics
								</div>
							</div>
						}
						@if (Model.UserProfile.FavouriteBooks != null)
						{
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
								<b style="max-height:400px" class="col-2">
									Favourite books:
								</b>
								<div style="max-height:400px" class="col-9 flex-nowrap">
									@Model.UserProfile.FavouriteBooks
								</div>
							</div>
						}
						@if (Model.UserProfile.FavouriteMovies != null)
						{
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
								<b style="max-height:400px" class="col-2">
									Favourite movies:
								</b>
								<div style="max-height:400px" class="col-9 flex-nowrap">
									@Model.UserProfile.FavouriteMovies
								</div>
							</div>
						}
						<a class="align-self-center col-2 ml-3 text-decoration-underline" style="font-size:120%; color:rgb(30,90,154)" asp-action="UpdateProfile">
							Update Profile
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>>

