@model DetailVM
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="container">
    <div style="display:flex; flex-direction:row; justify-content:space-around; flex-wrap: wrap;">
         @foreach (var item in Model.Product.ProductImages)
         {
             <img width="250" class="m-3" src="~/images/products/@item.ImageUrl"/>
         }
     </div>
     <div class="row col-12 d-flex flex-row justify-content-center">
        <a class="text-light btn btn-primary w-25" asp-action="EditPictures" asp-controller="user" asp-route-id="@Model.Product.Id">Edit Images</a>
     </div>
    
            
     <div class="row mt-5">
        <div class="col-lg-12">

            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Name:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.Name
                </div>
            </div>
            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Price:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.Price
                </div>
            </div>
            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Discount Price:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @if (Model.Product.DiscountPercent>0)
                    {
                        <span>@Model.Product.DiscountPrice </span> <span> (@Model.Product.DiscountPercent%) </span> 

                    }
                    else{
                        <span>0</span>
                    }
                </div>
            </div>
            @if (Model.Product.DiscountPercent > 0)
            {
                <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                    <b style="max-height:400px" class="col-2">
                        Discount ends:
                    </b>
                    <div style="max-height:400px" class="col-9 flex-nowrap">
                        <span class="text-dark">@Model.Product.DiscountUntil?.ToString("dddd, dd MMMM yyyy HH:mm:ss")</span>
                    </div>
                </div>

            }

            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Category:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.Category.Name
                </div>
            </div>


            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Info:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.Description
                </div>
            </div>

            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Released:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.ReleaseDate
                </div>
            </div>
            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    OS:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.OperationSystem
                </div>
            </div>
            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    GPU:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.GPU
                </div>
            </div>
            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Chipset:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.Chipset
                </div>
            </div>
            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Memory:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.Memory
                </div>
            </div>
            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Body:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.Body
                </div>
            </div>
            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Display:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.Display
                </div>
            </div>
            @if (Model.Product.FrontCamera != null)
            {
                <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                    <b style="max-height:400px" class="col-2">
                        Selfie:
                    </b>
                    <div style="max-height:400px" class="col-9 flex-wrap">
                        @Model.Product.FrontCamera
                    </div>
                </div>
            }

            @if (Model.Product.RearCamera != null)
            {
                <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                    <b style="max-height:400px" class="col-2">
                        Camera:
                    </b>
                    <div style="max-height:400px" class="col-9 flex-wrap">
                        @Model.Product.RearCamera
                    </div>
                </div>
            }
            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Battery:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.Battery
                </div>
            </div><div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Weight:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.Weight
                </div>
            </div>
        </div>
     </div>

    <div class="row mt-5">
        <div class="col-lg-12">

            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Current:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.Count
                </div>
            </div>
            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Created:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.CreatedTime
                </div>
            </div>

            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Updated at:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.LastUpdatedAt
                </div>
            </div>

            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Sold:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.Sold
                </div>
            </div>
            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Profit:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    $@Model.Product.Profit
                </div>
            </div>
            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Views:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    @Model.Product.Views
                </div>
            </div>
            <div style="max-height:400px" class="col-12 d-flex flex-row p-2">
                <b style="max-height:400px" class="col-2">
                    Link on the store:
                </b>
                <div style="max-height:400px" class="col-9 flex-nowrap">
                    <a asp-action="detail" asp-controller="home" asp-route-id="@Model.Product.Id">See how it looks on store</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-gray d-flex flex-row justify-content-around mt-5 flex-wrap">
        <a class="btn btn-secondary w-25" asp-action="Products" asp-controller="user" >Go back</a>

        <a class="btn btn-warning text-light w-25" asp-action="editproduct" asp-controller="user" asp-route-id="@Model.Product.Id">Edit</a>
        <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger w-25" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Delete
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
                <div class="modal-content bg-dark">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabel">Warning</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                        <span class="text-light">Are you sure you want to delete @(Model.Product.Name)?</span> <br />
                        <span class="text-warning mt-5">If you accidentally delete a product, you can contact an admin to restore it.</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn text-light" style="background-color: rgb(13,110,253)" data-bs-dismiss="modal">Cancel</button>
            <a class="btn btn-danger" asp-action="DeleteProduct" asp-controller="user">Yes, delete it</a>
          </div>
        </div>
      </div>
    </div>


        
    </div>
 </div>