@model UserVM
@{
    ViewData["Title"] = "ProfilePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<ul class="list-inline dashboard-menu text-center">
					<li class="list-inline-item user-menu"><a class="active" asp-action="profilepage" asp-controller="user" >Dashboard</a></li>
					<li class="list-inline-item user-menu"><a  asp-action="profileproducts" asp-controller="user" asp-route-id="@Model.User.Id">Products</a></li>
	</ul>

    <div class="dashboard-wrapper user-dashboard">
					<div class="media">
						<div class="pull-left mr-3 d-flex flex-column">
							<img class="media-object user-img" src="~/images/ProfilePictures/@Model.User.ProfilePicture" alt="Image">
						</div>
						<div class="media-body align-self-center">
							<h2 class="media-heading">@Model.User.Fullname</h2>
						@if (Model.UserProfile.AboutMe!=null)
							{
								<p class="mb-0">@Model.UserProfile.AboutMe</p>
							}

						@if (User.Identity.IsAuthenticated)
							{
								<a class="text-info" asp-action="chat" asp-controller="messages" asp-route-receiverId="@Model.User.Id">Message</a>
							}
						</div>
					</div>
					<div class="row">
						<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
							    <b style="max-height:400px" class="col-2">
							        Username:
							    </b> 
							    <div style="max-height:400px" class="col-9 flex-nowrap">
									@Model.User.UserName
							    </div>
							</div>

						@if (Model.UserProfile.Birthdate!=null)
						{
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
							    <b style="max-height:400px" class="col-2">
							        Birthdate:
							    </b> 
							    <div style="max-height:400px" class="col-9 flex-nowrap">
									@Model.UserProfile.Birthdate?.ToString("dddd, dd MMMM yyyy")
							    </div>
							</div>
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
								<b style="max-height:400px" class="col-2">
									Age:
								</b>
								<div style="max-height:400px" class="col-9 flex-nowrap">
									@(Int32.Parse(DateTime.Now.AddHours(12).ToString("yyyy"))-Int32.Parse(Model.UserProfile.Birthdate?.ToString("yyyy")))
								</div>
							</div>
						}

						@if (Model.UserProfile.EmailForPublic != null)
						{
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
								<b style="max-height:400px" class="col-2">
									Email:
								</b>
								<div style="max-height:400px" class="col-9 flex-nowrap">
									@Model.UserProfile.EmailForPublic
								</div>
							</div>
						}
						@if (Model.UserProfile.Hobbies != null)
						{
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
								<b style="max-height:400px" class="col-2">
									Hobbies:
								</b>
								<div style="max-height:400px" class="col-9 flex-nowrap">
									@Model.UserProfile.Hobbies
								</div>
							</div>
							
						}

						@if (Model.UserProfile.FavouriteMusics!= null)
						{
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
								<b style="max-height:400px" class="col-2">
									Favourite songs:
								</b>
								<div style="max-height:400px" class="col-9 flex-nowrap">
									@Model.UserProfile.FavouriteMusics
								</div>
							</div>
						}
						@if (Model.UserProfile.FavouriteBooks != null)
						{
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
								<b style="max-height:400px" class="col-2">
									Favourite books:
								</b>
								<div style="max-height:400px" class="col-9 flex-nowrap">
									@Model.UserProfile.FavouriteBooks
								</div>
							</div>
						}
						@if (Model.UserProfile.FavouriteMovies != null)
						{
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
								<b style="max-height:400px" class="col-2">
									Favourite movies:
								</b>
								<div style="max-height:400px" class="col-9 flex-nowrap">
									@Model.UserProfile.FavouriteMovies
								</div>
							</div>
						}
						<div class="d-flex flex-column mt-3 justify-content-center align-items-center">
							@if (User.Identity.IsAuthenticated)
							{
								if (!ViewBag.IsSubscribed)
								{
									<a class="col-6 col-sm-3 col-md-3 text-center text-info p-2 bg-dark" style="font-size: 120%; font-weight:700;" asp-action="SubscribeToUser" asp-controller="user" asp-route-ReturnUrl="@Context.Request.Path" asp-route-id="@Model.User.Id">Follow @Model.User.Fullname</a>
								}
								else{
									<h4 class="col-12 col-sm-6 col-md-6 text-center text-info">You are following @Model.User.Fullname</h4>
									<a class="col-1 col-sm-1  text-center text-danger p-2 " style="font-size: 100%; font-weight:700;" asp-action="UnSubscribeFromUser" asp-controller="user" asp-route-ReturnUrl="@Context.Request.Path" asp-route-id="@Model.User.Id">Unfollow</a>
								}
							}
						</div>
					</div>
				</div>
</div>

