@model UserProductsVM
@{
    ViewData["Title"] = "ProfileProducts";
}

<div class="container">
	<ul class="list-inline dashboard-menu text-center">
		<li class="list-inline-item user-menu"><a asp-action="profilepage" asp-controller="user" asp-route-id="@Model.User.Id">Dashboard</a></li>
        <li class="list-inline-item user-menu"><a class="active" asp-action="profileproducts" asp-controller="user" asp-route-id="@ViewBag.UserId">Products</a></li>
	</ul>

	<div class="row col-12">
	@if (Model.Products.Count>0)
                {
            <div class="dashboard-wrapper user-dashboard d-flex flex-row flex-wrap justify-content-around">
                  
                                @foreach (var product in Model.Products)
                                {

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="product text-center">
                            <div class="product-thumb">
                                <div class="overflow-hidden position-relative">
                                    <a asp-action="detail" asp-route-id="@product.Id">
                                        @foreach (var image in product.ProductImages)
                                        {
                                            if (image.IsMain)
                                            {
                                                <img style="width:100%; height:200px;" class="img-fluid align-self-center mb-3 img-first" src="~/images/products/@image.ImageUrl" alt="product-img">
                                            }
                                        }
                                        @foreach (var image in product.ProductImages)
                                        {
                                            if (!image.IsMain)
                                            {
                                                <img style="width:200px; height:210px;" class="img-fluid w-100 mb-3 img-second" src="~/images/products/@image.ImageUrl" alt="product-img">
                                                break;
                                            }
                                        }
                                    </a>
                                    <div class="btn-cart">
                                        <a class="btn btn-primary text-light btn-sm add" data-id="@product.Id">Add To Cart</a>
                                    </div>
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    bool exist = false;
                                    foreach (var w in Model.Wishlists)
                                    {
                                        if (w.AppUserId == Model.User.Id && w.ProductId == product.Id)
                                        {
                                            exist = true;
                                            break;
                                        }
                                    }
                                    if (!exist)
                                    {
                                        <div class="product-hover-overlay">

                                            <a class="product-icon favorite add-to-wishlist-from-card" data-id="@product.Id" data-toggle="tooltip" data-placement="left" title="Wishlist">
                                                <i class="fa-regular fa-heart text-danger"></i>
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="product-info">
                                <h3 class="h5"><a class="text-color" asp-action="detail" asp-route-id="@product.Name">@product.Name</a></h3>
                                @if (product.DiscountPercent > 0)
                                {
                                    <span class="h5">$@product.DiscountPrice</span>
                                }
                                else
                                {
                                    <span class="h5">$@product.Price</span>
                                }
                            </div>
                            <div class="product-label d-flex flex-column justify-content-around" style="border-radius:5px">
                                @if (product.DiscountPercent > 0)
                                {
                                    <div class="sale" style="background-color: rgb(255,51,133);padding:3px 10px;color:white;margin: 5px 0">
                                        @(product.DiscountPercent)%
                                    </div>
                                }
                                @{
                                    TimeSpan? difference = DateTime.Now.AddHours(12) - product?.CreatedTime;
                                }
                                @if (difference?.Days < 5)
                                {
                                    <div class="new" style="background-color: rgb(102,126,234);padding:3px 10px;color:white;margin: 5px 0">
                                        new
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                                }
                        
                </div>
                }
                else{
                <div class="mt-5 col-12 d-flex flex-row justify-content-center"><h1 class="text-primary">
                    This person does not have any products
                </h1></div>
                }
	</div>
</div>



