@model UserDetailsVM
@{
    ViewData["Title"] = "UserDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="bg-gray py-3">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">My Account</li>
    </ol>
  </div>
</nav>
<section class="user-dashboard section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li class="list-inline-item user-menu"><a asp-action="index" asp-controller="messages">Messages</a></li>
					<li class="list-inline-item user-menu"><a asp-action="index" asp-controller="user">Dashboard</a></li>
					<li class="list-inline-item user-menu"><a asp-action="orders" asp-controller="user">Orders</a></li>
					<li class="list-inline-item user-menu"><a class="active" asp-action="userdetail" asp-controller="user">Profile Details</a></li>
					<li class="list-inline-item user-menu"><a asp-action="products" asp-controller="user">Products</a></li>
				</ul>
				<div class="dashboard-wrapper user-dashboard col-12 text-center">
					<h1 class="text-warning">This is for checkout</h1>
				</div>
				<div class="dashboard-wrapper user-dashboard">
					<div class="row d-flex flex-column justify-content-center align-content-center">
							<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
								<b style="max-height:400px" class="col-2">
									First name:
								</b>
								<div style="max-height:400px" class="col-9 flex-nowrap">
									@if (Model.Firstname!=null)
									{
										<span>@Model.Firstname</span>
									}
									else
									{
										<a asp-action="UpdateProfileDetail">Not set</a>
									}
								</div>
							</div>
						<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
							<b style="max-height:400px" class="col-2">
								Last name:
							</b>
							<div style="max-height:400px" class="col-9 flex-nowrap">
								@if (Model.Lastname != null)
								{
									<span>@Model.Lastname</span>
								}
								else
								{
									<a asp-action="UpdateProfileDetail">Not set</a>
								}
							</div>
						</div>
						
						<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
							<b style="max-height:400px" class="col-2">
								Country:
							</b>
							<div style="max-height:400px" class="col-9 flex-nowrap">
								@if (Model.Country!= null)
								{
									<span>@Model.Country</span>
								}
								else
								{
									<a asp-action="UpdateProfileDetail">Not set</a>
								}
							</div>
						</div>

						<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
							<b style="max-height:400px" class="col-2">
								City:
							</b>
							<div style="max-height:400px" class="col-9 flex-nowrap">
								@if (Model.City != null)
								{
											<span>@Model.City</span>
								}
								else
								{
											<a asp-action="UpdateProfileDetail">Not set</a>
								}
							</div>
						</div>

						<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
							<b style="max-height:400px" class="col-2">
								Street:
							</b>
							<div style="max-height:400px" class="col-9 flex-nowrap">
								@if (Model.Street != null)
								{
											<span>@Model.Street</span>
								}
								else
								{
											<a asp-action="UpdateProfileDetail">Not set</a>
								}
							</div>
						</div>

						<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
							<b style="max-height:400px" class="col-2">
								Phone number:
							</b>
							<div style="max-height:400px" class="col-9 flex-nowrap">
								@if (Model.PhoneNumber != null)
								{
									<span>@Model.PhoneNumber</span>
								}
								else
								{
									<a asp-action="UpdateProfileDetail">Not set</a>
								}
							</div>
						</div>
						<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
							<b style="max-height:400px" class="col-2">
								Company:
							</b>
							<div style="max-height:400px" class="col-9 flex-nowrap">
								@if (Model.Company != null)
								{
									<span>@Model.Company</span>
								}
								else
								{
									<a asp-action="UpdateProfileDetail">Not set</a>
								}
							</div>
						</div>
						<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
							<b style="max-height:400px" class="col-2">
								Zip Code:
							</b>
							<div style="max-height:400px" class="col-9 flex-nowrap">
								@if (Model.ZipCode!= null)
								{
									<span>@Model.ZipCode</span>
								}
								else
								{
									<a asp-action="UpdateProfileDetail">Not set</a>
								}
							</div>
						</div>
						<div style="max-height:400px" class="col-12 d-flex flex-row p-2">
							<b style="max-height:400px" class="col-2">
								Email:
							</b>
							<div style="max-height:400px" class="col-9 flex-nowrap">
								@if (Model.Email!= null)
								{
									<span>@Model.Email</span>
								}
								else
								{
									<a asp-action="UpdateProfileDetail">Not set</a>
								}
							</div>
						</div>
						
						<a asp-action="UpdateProfileDetail" asp-controller="user" class="btn btn-warning w-50 align-self-center mt-3">Update your info</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>