@model OrderVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">


                <div class="table-responsive">
                    <table id="user-table" class="table table-hover">
                        <thead>
                            <tr>
                                <th>OrderId</th>
                                <th>User</th>
                                <th>Price</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Orders)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>
                                        @item.AppUser.Fullname
                                    </td>
                                    <td>@item.Price</td>
                                    <td>@item.OrderedAt.ToString("dddd, dd MMMM yyyy HH:mm:ss")</td>
                                    @if (item.OrderStatus == OrderStatus.Pending)
                                    {
                                        <td style="font-weight: 700; font-size: 120%" class="text-info">Pending </td>
                                    }
                                    else if (item.OrderStatus == OrderStatus.Approved)
                                    {
                                        <td style="font-weight: 700; font-size: 120%" class="text-success">Approved</td>
                                    }
                                    else if (item.OrderStatus == OrderStatus.Refused)
                                    {
                                        <td style="font-weight: 700; font-size: 120%" class="text-danger">Declined</td>
                                    }

                                    <td>
                                        @if (item.OrderStatus == OrderStatus.Pending)
                                        {

                                            <a class="btn btn-danger fs-5" asp-action="decline" asp-route-id="@item.Id">x</a>
                                            <a class="btn btn-success fs-5" asp-action="confirm" asp-route-id="@item.Id"><i class="text-light mdi mdi-check"></i></a>
                                        }
                                        <a class="btn btn-warning fs-5" asp-action="detail" asp-route-id="@item.Id"><i class="mdi mdi-information-outline"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>