@model WishlistVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
        @foreach (var item in Model.Products)
        {
        <div class="card mb-3" style="width: 100%;">
            <div class="row g-0">
                <div class="col-md-4">
                    @foreach (var image in item.ProductImages)
                    {
                        if (image.IsMain)
                        {
                            <img src="~/images/products/@image.ImageUrl" class="img-fluid w-100 rounded-start">
                        }
                    }
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        @if (item.DiscountPercent>0)
                        {
                            <p class="card-text"><small class="text-muted fs-5">$@item.DiscountPrice <span style="color:red; text-decoration:line-through">@item.Price</span> </small></p>
                        }
                        else{
                            <p class="card-text"><small class="text-muted fs-5">$@item.Price</small></p>
                        }
                    </div>

                    <div class="card-body text-light"><a class="btn btn-success add " data-id="@item.Id" >Add to basket</a> <a class="btn btn-danger remove-from-wishlist" data-id="@item.Id">Remove from wishlist</a></div>
                </div>
            </div>
        </div>
        }
</div>

