@model WishlistVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (Model.Products.Count>0)
    {
        @foreach (var item in Model.Products)
        {
        <div class="card mb-3" style="width: 100%;">
            <div class="row g-0">
                <div class="col-md-4">
                    @foreach (var image in item.ProductImages)
                    {
                        if (image.IsMain)
                        {
                            <img src="~/images/products/@image.ImageUrl" class="img-fluid w-100 rounded-start">
                        }
                    }
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a asp-action="detail" asp-controller="home" asp-route-id="@item.Id">
                            <h4 class="card-title fw-bold text-decoration-underline" style="color:rgb(14,137,176) !important">@item.Name</h4>
                        </a>
                        <p class="card-text">@item.Description</p>
                        @if (item.DiscountPercent>0)
                        {
                            <p class="card-text"><small class="text-muted fs-5 fw-bold">$@item.DiscountPrice <span style="color:red; text-decoration:line-through">@item.Price</span> </small></p>
                        }
                        else{
                            <p class="card-text"><small class="text-muted fs-5 fw-bold">$@item.Price</small></p>
                        }
                    </div>

                    <div class="card-body text-light"><a class="btn btn-success add " data-id="@item.Id" >Add to basket</a> <a class="btn btn-danger remove-from-wishlist" data-id="@item.Id">Remove from wishlist</a></div>
                </div>
            </div>
        </div>
        }     
    }
    else{
        <div class="col-12 d-flex flex-column justify-content-center align-items-center"> 
            <h1 class="text-danger align-self-center">No item in wishlist :'(</h1> <hr>
            <a class="text-info text-decoration-underline" asp-action="index" asp-controller="home">Check our store</a>
        </div>
    }
</div>